# Папка node_modules
node_modules/

# Файлы окружения
.env
.env.local
.env.*.local

# Временные файлы и кэш
.vscode/
.DS_Store
.cache/
log/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Сгенерированные файлы
/dist/
/build/
*.log
*.bak

# Зависит от конфигурации IDE
.idea/
.vscode/
*.code-workspace

# Зависит от конфигурации редактора кода
.editorconfig
*.sublime-project
*.sublime-workspace

# Конфигурация eslint
.eslintrc
.eslintignore

# Конфигурация Prettier
.prettierrc
.prettierignore

# Конфигурация Babel
.babelrc

# Конфигурация Webpack
webpack.config.js

# Конфигурация Parcel
.parcelrc

# Конфигурация Rollup
.rollup.config.js

# Конфигурация Jest
jest.config.js

# Конфигурация Cypress
cypress.json

# Другие конфигурационные файлы
*.config.js
